div.head
    div.nav-bar
        div.nav-bar-inner
            a(href="#")
                span.element.brand Zhu Zhe's Life
            ul.menu
                li(data-role="dropdown")
                    a
                    ul.dropdown-menu
                        li
                            a(href="#") Picture
                        li
                            a(href="#") Location
                        li.divider
                        li
                            a(href="#") Work
                        li
                            a(href="#") Study
                        li
                            a(href="#") Entertainment
