div.list
    ul.listview.fluid
        li
            div.icon
                img(src="http://metroui.org.ua/images/onenote2013icon.png")
            div.data
                h4 OneNote 2013
                div.static-rating.small
                    div.rating-value(style="width:75%;")
                    p 1 RUB
        li
            div.data
                h4 JAN
        li
            div.data
                h4 FEB
        li
            div.data
                h4 FEB
        li
            div.data
                h4 FEB
        li
            div.icon
                img(src="http://metroui.org.ua/images/onenote2013icon.png")
            div.data
                h4 OneNote 2013
                div.static-rating.small
                    div.rating-value(style="width:75%;")
                    p 1 RUB
        li
            div.icon
                img(src="http://metroui.org.ua/images/onenote2013icon.png")
            div.data
                h4 OneNote 2013
                div.static-rating.small
                    div.rating-value(style="width:75%;")
                    p 1 RUB
        li
            div.icon
                img(src="http://metroui.org.ua/images/onenote2013icon.png")
            div.data
                h4 OneNote 2013
                div.static-rating.small
                    div.rating-value(style="width:75%;")
                    p 1 RUB


